@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.header {
	position: absolute;
	width: 1110px;
	height: 23.18px;
	left: 125px;
	right: 125px;
	top: 59px;

}

.header {
	display: inline-block;
}

.logo {
	color: #222222;
	font-weight: 800;
	width: 74.31px;
	height: 23.18px;
	font-size: 20px;
}

.search-btn {
	position: absolute;
	left: 50%;
	top: 2px;
	transform: translateX(-50%);

	color: #222222;

	cursor: pointer;
}

.burger {
	position: absolute;
	right: 0;
	top: 6px;

	display: block;

	cursor: pointer;
}


.upper-line {
	height: 3px;
	width: 34px;
	background: #222222;
	margin-bottom: 5px;	
	transition: .5s;
}

.lower-line {
	background: #222222;
	height: 3px;
	width: 18px;
	margin-left: 16px;
	transition: .5s;
}

.change .upper-line {
	transform: rotate(-45deg) translate(5px, 11px);
	transition: .5s;
}

.change .lower-line {
	transform: rotate(45deg) translate(-6px, 0);
	width: 34px;
	transition: .5s;
}

.burger__menu {
	position: absolute;
	right: -410px;
	width: 379px;
	height: 100vh;
	z-index: 999;
	background-color: white;

	transition: .5s;
}

.active {
	right: 0;
	transition: .5s;


}

.burgerCloseBtn {
	position: relative;
	width: 34px;
	height: 34px;
	top: 52px;
	margin: 0 auto;

	cursor: pointer;

}

.burger__inner {
	text-align: center;
	letter-spacing: 3px;

	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.burger__inner a {
	color: black;
	text-decoration: none;

	font-family: Fira Sans;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;

	border-radius: 50px;

	padding: 10px 0;

	transition: .1s;
}

.burger__inner a:hover {
	color: white;

	transition: .1s;

	background-image: url('../images/Placeholder.png');
}

.closeUp {
	width: 34px;
	height: 3px;
	background-color: black;

	transform: rotate(-45deg) translate(-9px, 11px);
}

.closeDown {
	width: 34px;
	height: 3px;
	background-color: black;
	transform: rotate(45deg) translate(9px, 9px);
}

.workin {
	overflow-y: hidden;
}

.mainPageText {
	position: absolute;
	width: 475px;
	height: 140px;
	left: 125px;
	top: 209px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 70px;
}

.mainPageunderText {
	position: absolute;
	width: 475px;
	height: 81px;
	left: 125px;
	top: 389px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;

	opacity: 0.7;
}

.mainPageBtn {
	position: absolute;
	top: 549px;
	left: 125px;
	width: 189px;
	height: 50px;
	background-color: #4737FF;
	border: 0px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;

	color: white;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;

	cursor: pointer;
	text-decoration: none;
}

.mainPageBtn:hover {
	background-image: url('../images/Placeholder.png');
}

.mainPageBtn:focus {
	outline: none;
}

.mainPagePic {
	position: absolute;
	width: 665px;
	height: 840px;
	left: 695px;
	top: 142px;

}

.secBlockImg {
	position: absolute;
	width: 475px;
	height: 564px;
	left: 126px;
	top: 1119px;
}

.secBlockText {
	position: absolute;
	width: 540px;
	height: 97px;
	left: 695px;
	top: 1156px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;

	letter-spacing: -1px;

	color: #222222;
}

.secBlockUnderTextUno {
	position: absolute;
	width: 444.82px;
	height: 81px;
	left: 695px;
	top: 1310px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;

	color: #222222;

	opacity: 0.7;
}

.secBlockUnderTextDos {
	position: absolute;
	width: 444.82px;
	height: 81px;
	left: 695px;
	top: 1401px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;

	color: #222222;

	opacity: 0.7;
}

.avaPic {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 695px;
	top: 1550px;
}

.secBlockName {
	position: absolute;
	width: 189px;
	height: 26px;
	left: 791px;
	top: 1532px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;

	color: #222222;
}

.secBlockProff {
	position: absolute;
	width: 189px;
	height: 21px;
	left: 791px;
	top: 1564px;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;

	color: #222222;

	opacity: 0.7;
}

.bottomFooter {
	background-color: #515151;

	position: relative;
	left: 0%;
	right: 0%;
	top: 1890px;
	bottom: 0%;

	height: 240px;
}

.footerLogo {
	position: absolute;
	top: 70px;
	left: 125px;
	width: 74.31px;
	height: 23.18px;

	color: white;

	font-size: 20px;

	font-family: Fira Sans;
}

.footerEmailSend {
	width: 170px;
	height: 40px;

	border: none;

}

.footerEmailBtn {
	width: 100px;
	height:	43px;
	background-color: #C6B393;

	border: none;

	color: white;

	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;

	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;

	color: #FFFFFF;
}

.footerEmailSend:focus, 
.footerEmailBtn:focus {
	outline: none;
}

.footerForm {
	display: inline-block;

	position: absolute;
	right: 100px;
	top: 70px;
}

.footerForm input::placeholder {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;

	margin-left: 5px;

	color: #222222;

	opacity: 0.5;
}

.footerLine {
	position: absolute;
	height: 2px;
	width: 1140px;
	background-color: #868686;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
}

.footerRights {
	position: absolute;
	top: 160px;
	color: #fff;
	left: 125px;

	font-family: Fira Sans;
}


.social a {
	color: white;

	position: absolute;
	top: 160px;
}

.instagram {
	right: 165px;
	font-size: 30px;
	transition: .5s;
}

.twitter {
	right: 125px;
	font-size: 30px;
	transition: .5s;
}

.instagram:hover {
	color: orange;
	transition: .5s;
}

.twitter:hover {
	color: #1da1f2;
	transition: .5s;
}
